spring:
  datasource:
    url: jdbc:h2:mem:livrosdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true  # garante que o Hibernate crie o schema antes do data.sql
  sql:
    init:
      mode: always  # força execução do data.sql
  h2:
    console:
      enabled: true
      path: /h2

server:
  port: 8080
